ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

ul li {
    border-bottom: 1px solid;
    display: block;
    position: relative;
    padding: 5px;
}

form {
    display: block;
    margin: 10px auto;
    padding: 20px;
}
