label {
    margin: 2px;
}

div {
    margin: 2px;
}

/* https://stackoverflow.com/a/19065024 */
.overlay {
    display: none;
    position: fixed;
    top: 10%;
    left: 15%;
    width: 70%;
    padding: 5px;
    border: 5px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}
